<% content_for :overview do %>
  <div class="col-lg-12 col-sm-12 col-xs-12 footer-overview">
    <h2>Overview of Features</h2>
    <div class="col-lg-12 col-sm-12 col-xs-12">
      <p>As many consumers are unfamiliar with the National Commitee for Quality Assurance (NCQA), first-time users will see a pop-up explaining NCQA scores in their first interface with their Plan View. NCQA scores are the industry stand for evaluating access & quality standards amongst health. In our application, the overal quality score is depicted as a large blue number with preventive, treatment, and consumer satisfaction scores as small red numbers, all of which are displayed in the expanded view to avoid overwhelming the user with excessive numbers in the collapsed view. Once this pop-up is closed, it will not display again for the users at return visits (accomplished via dropping cookies on the user's computer) unless they click on the tool tip question mark icon.</p>
    </div>    
  </div>
<% end %>
<div id="planGoogleMap">
</div>

